# Byte-compiled and optimized files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/
env/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Test artifacts
.pytest_cache/

# IDE / Editor specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db