# Byte-compiled and optimized files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/
env/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Test artifacts
.pytest_cache/

# IDE / Editor specific files
.vscode/
.idea/
.vs/

# OS-specific files
.DS_Store
Thumbs.db

# Local development artifacts
.port
remote-zip-downloader.zip
output.zip
