# --- Application Dependencies ---
# Core web framework and remote file access
Flask
cachetools
remotezip
waitress

# --- Development & Testing Dependencies ---
# For running the test suite
pytest
pytest-flask
pytest-mock
flake8

# --- Build Dependencies ---
PyInstaller
py2exe
